/* animações */
@keyframes clickAnimation {
  from {
    width: 2rem;
    height: 2.3rem;
  }

  to {
    width: 2.5rem;
    height: 2.5rem;
  }
}

* {
  font-family: "Merienda", Arial;
  text-align: center;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.25rem;

  margin-bottom: 1rem;

  background-color: #242225;
  color: #ffffff;
}

/* img no topo da pagina */
#imageContainer {
  background-image: url("../imgs/markus-winkler-m-2H2zJQ2wA-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 16.8rem;
  width: 100%;
}

/*tasks*/
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-indent: 10px;
  word-break: break-all;

  border: 1px solid rgba(85, 85, 85, 0.575);
  border-radius: 0.5rem;
  background-color: rgb(0 0 0);
  color: white;

  width: 19rem;
  min-height: 2.3rem;
  max-height: 100%;
}
.task:focus-visible{
  outline: none;
}

#inputTask{
  border: none;
  border-radius: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(1, 1, 1, 0.31);
  color: white;
  border: none;

  min-height: 2.3rem;
  max-height: 100%;
}

.icon { 
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}.icon:hover{
  background-color: rgba(32, 32, 32, 0.31);
}

/* container com os botões de confim e delete */
#containerIcons {
  display: flex;
}

.done{
  text-decoration: line-through;
  opacity: 60%;
}

.hide{
  display: none;
}